<% include ./partials/header.ejs %>
	
	<!-- page backdrop -->
  	<div id="teamPanel">
		<h1 id="subpageTitle_secondary">OUR TEAM</h1>
		<div class="container">
			<p id="panelDesc">
			McMaster Hyperloop is comprised of 50 ambitious students, all working towards designing
			and building a functional prototype which we will be taking to compete at the SpaceX Hyperloop
			Pod Competition. We are striving to include all fields of research including biology, engineering, 
			and economics, bringing a unique, unified approach to the international competition.
			</p>
		</div>
	</div>

	<!-- button panel for different sub teams -->
	<div id="teamPanel_buttons" class="column" role="group">
		<div class="row">
			<div class="col-sm" style="width: 100%; padding: 0;"><button id="execBtn" class="btn btn-primary btn-block active teamBtn">Executive</button></div>
			<div class="col-sm" style="width: 100%; padding: 0;"><button id="adminBtn" class="btn btn-primary btn-block teamBtn">Administrative</button></div>
			<div class="col-sm" style="width: 100%; padding: 0;"><button id="softwareBtn" class="btn btn-primary btn-block teamBtn">Software</button></div>
			<div class="col-sm" style="width: 100%; padding: 0;"><button id="mechanicalBtn" class="btn btn-primary btn-block teamBtn">Mechanical</button></div>
			<div class="col-sm" style="width: 100%; padding: 0;"><button id="electricalBtn" class="btn btn-primary btn-block teamBtn">Electrical</button></div>
		</div>
	</div>

	<!-- page content -->
  	<div id="teamPanel_info">
		<!-- container for all team panels -->
		<div class="container">
			<!-- admin panel -->
			<div id="adminPanel" class="hiddenPanel" >
					<!-- content -->
					<h2 id="subheading">Admin Team</h2>
					<p class="paragraph">
						<strong>Team Lead: Krishna Patel</strong>
					</p>
					<p>
						The Administrative Team is comprised of four sub-teams:
						<ol style="list-style-type: none;">
							<li>
								Sponsorships/External Relations
							</li>
							<li>
								Internal Relations
							</li>
							<li>
								Finance and Logistics
							</li>
							<li>
								Marketing
							</li>
						</ol>
					</p>
					<div class="container">
						<div class="row text-center">
							<div class="col-12 col-md-4 p-4">
								<img class="w-100 circle" src="/images/profiles/1H0A5783.jpg"/>
								<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
							</div>
							<div class="col-12 col-md-4 p-4">
								<img class="w-100 circle" src="/images/profiles/1H0A5786.jpg"/>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Jason Fok</div>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Admin & Sponsorship Coordinator</div>
							</div>
							<div class="col-12 col-md-4 p-4">
								<img class="w-100 circle" src="/images/profiles/1H0A5787.jpg"/>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Fahad Bendali</div>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Electrical R&D Associate</div>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-12 col-md-4 p-4">
								<img class="w-100 circle" src="/images/profiles/1H0A5788.jpg"/>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Krishna Patel</div>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Administrative Team Lead</div>
							</div>
							<div class="col-12 col-md-4 p-4">
								<img class="w-100 circle" src="/images/profiles/1H0A5790.jpg"/>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Abeera Islam</div>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Admin & Events Coordinator</div>
							</div>
							<div class="col-12 col-md-4 p-4">
								<img class="w-100 circle" src="/images/profiles/1H0A5793.jpg"/>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Shamil Perera</div>
								<div class="text-dark font-weight-bold h5 pt-4 py-3">Electrical R&D Associate</div>
							</div>
						</div>
					</div>	
			</div>
			<!-- software panel -->
			<div id="softwarePanel" class="hiddenPanel" >
				<h2 id="subheading">Software Engineering Team</h2>
				<p  class="paragraph">
					<strong>Team Lead: Maninder Sran</strong>
				</p>
				<p>
					The Software Team is comprised of four sub-teams:
					<ol style="list-style-type: none;">
						<li>
							Embedded
						</li>
						<li>
							Off Board Communications
						</li>
						<li>
							On Board Communications
						</li>
						<li>
							Web Development
						</li>
					</ol>
				</p>
				<div class="container">
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5795.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Vivek Patel</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5799.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Vijay Patel</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5800.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
						</div>
					</div>
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5802.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5805.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Robin Zeng</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5807.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Aaron Almeida</div>
						</div>
					</div>
				</div>
			</div>
			<!-- mech panel -->
			<div id="mechanicalPanel" class="hiddenPanel" >
				<h2 id="subheading">Mechanical Engineering Team</h2>
				<p  class="paragraph">
					<strong>Team Lead: Yuvrajvir Sidhu</strong>
				</p>
				<p>
					The Mechanical Team is comprised of three sub-teams:
					<ol style="list-style-type: none;">
						<li>
							Propulsion
						</li>
						<li>
							Aerodynamics
						</li>
						<li>
							Structure
						</li>
					</ol>
				</p>
				<div class="container">
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5812.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Valentyn Borysov</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5814.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Maninder Sran</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5815.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Alejandro Aviles</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5822.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Eshaan Chaudhari</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5824.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5827.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
						</div>
					</div>
				</div>
			</div>
			<!-- elec panel -->
			<div id="electricalPanel" class="hiddenPanel" >
				<h2 id="subheading">Electrical Engineering Team</h2>
				<p  class="paragraph">
					<strong>Team Lead: Willian Melnechuky</strong>
				</p>
				<p>
					The Electrical Team is comprised of four sub-teams:
					<ol style="list-style-type: none;">
						<li>
							Propulsion
						</li>
						<li>
							Power Distribution
						</li>
						<li>
							Embedded Electronics
						</li>
						<li>
							Braking Systems
						</li>
					</ol>
				</p>
				<div class="container">
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5831.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Shourya Saxena</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5833.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Yuvrajvir Sidhu</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5835.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
						</div>
					</div>
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5838.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Eric Liang</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5850.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Methusha Jeyalingam</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5851.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3"></div> -->
						</div>
					</div>
				</div>
			</div>
			<!-- exec panel -->
			<div id="execPanel" class="visiblePanel" >
				<h2 id="subheading">Executive Team</h2>
				<div class="container">
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5763.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Rutvik Sheth</div>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Integration Director</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5767.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Nisarg Parekh</div>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Technical Director</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5769.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Farhan </div> -->
						</div>
					</div>
					<div class="row text-center">
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5770.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Amreen Khan</div>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Business Director</div>
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5776.jpg"/>
							<!-- <div class="text-dark font-weight-bold h5 pt-4 py-3">Name Here</div> -->
						</div>
						<div class="col-12 col-md-4 p-4">
							<img class="w-100 circle" src="/images/profiles/1H0A5781.jpg"/>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">William Melnechuky</div>
							<div class="text-dark font-weight-bold h5 pt-4 py-3">Electrical Team Lead</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<% include ./partials/footer.ejs %>