<% include ./partials/header.ejs %>
	
	<!-- page backdrop -->
  	<div id="partnersPanel">
		<h1 style="padding-top: 150px; color: rgb(95, 166, 248);" id="subpageTitle_secondary">PARTNERS</h1>
	</div>
	<hr class="style-two" style="margin-bottom: 80px; margin-top: 0;">
	<!-- page content -->
  	<div id="partnersPanel_info">
		<!-- container for all sponsors -->
		<div class="container">
			<div class="row">
				<div class="col">
					<img id="partner" style="padding: 15px;" class="img-fluid" src="./images/ansys.png">
				</div>
				<div class="col-5">
					<img id="partner" style="padding: 15px; top: 50%;" class="img-fluid" src="./images/simscale.png">
				</div>
				<div class="col">
					<img id="partner" style="padding: 15px;" class="img-fluid" src="./images/msu_logo.png">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<!-- another sponsor could go here -->
					<img class="img-fluid" src="">
				</div>
				<div class="col-4">
					<img id="partner" class="img-fluid" src="./images/mac_logo.jpg">
				</div>
				<div class="col">
					<!-- another sponsor could go here -->
					<img class="img-fluid" src="">
				</div>
			</div>
		</div>
	</div>

	<!-- Info card for companies that may want to sponsor us -->
	<div class="container" style="padding: 80px; padding-top: 20px;">
		<div class="card text-center" style="box-shadow: 0px 3px 6px 1px rgb(189, 189, 189);">
			<div class="card-body" style="padding: 60px;">
				<h4 class="card-title">Interested in our project?</h4>
				<p class="card-text">Contact us for our sponsorship package and more information.</p>
				<a href="/contact" class="btn btn-primary">Contact Us</a>
			</div>
		</div>
	</div>

<% include ./partials/footer.ejs %>